/ 
  =entry.deployable.inspect

%form.well{:method=>"POST", :action=>"/entry"}
  %input{ :type=>"hidden", :name=>"name", :value=>(entry.name ||"")}
  - if entry.exists?
    %input{ :type => :hidden, :name => '_method', :value => :put}
  .control_group
    %label{:class=>"control-label", :for=>"deployable_xml"}
      Template deployable
    .controls
      %textarea.field.span6{:id=>"deployable_xml", :name=>"deployable",:rows=>"12"}
        = (entry.deployable.content || "")
  .control_group
    %label{:class=>"control-label", :for=>"image_xml"}
      Image deployable
    .controls
      %textarea.field.span6{:id=>"image_xml", :name=>"image",:rows=>"12"}
        = (entry.image.content || "")
  .control_group
    %label{:class=>"control-label", :for=>"tag_list"}
      Tags:
    .controls
      %input.span6.field{:id=>"tag_list", :name=>"tag_list",:value=>(entry.tag_list || "")}

  .form-actions
    %button.btn.btn-primary{:type => "submit"} Submit
    %button.btn Cancel
