-@action=File.basename(__FILE__,".haml")
%h1
  i'm the #index action!
  =@action

%hr/
/
  =flash.class
%div.alert-message
  %p
    =flash[:notice]
  %p
    =flash[:warning]
  %p
    =flash[:error]

.row
  .span5
    %h3
      Last 5 entries

    - unless last_inserted.nil?
      %ul
        - last_inserted.each do |entry|
          %li
            %span
              = linkify_entry entry
            %span
              = download_element(entry,"image") 
            %span
              = download_element(entry,"deployable")
            -unless current_user.nil? && (! current_user.is_owner?(entry) )
              %span
                = edit_entry(entry) 

  .span5
    %h3
      Most downloaded entries
  .span2{:style=>"background: red"}
    Tre
