-@action=File.basename(__FILE__,".haml")
%h1
  i'm the #index action!
  =@action

%hr/
/
  =flash.class
%div.alert-message
  %p
    =flash[:notice]
  %p
    =flash[:warning]
  %p
    =flash[:error]

.row
  .span4
    - unless last_inserted.nil?
      %ul
        - last_inserted.each do |entry|
          %li
            %span
              = linkify_entry entry
            %span
              = download_element(entry,"image") 
            %span
              = download_element(entry,"deployable") 
          

  .span4
    Due
  .span4
    Tre
