-@action="index"

- if authenticated?
  %h2
    You're logged in #{session[:user_name]}!
    %a{:href=>"/authenticate/sign_out"} Sign out
- else
  %h2
    %a{:href=>"/authenticate/auth/twitter"} Sign in with twitter
    
    %a{:href=>"/authenticate/auth/github"} Sign in with github
    
    %a{:href=>"/authenticate/auth/google"} Sign in with google


%h1
  i'm the #index action!

  %p
    =flash[:notice]
  %p
    =flash[:warning]
  %p
    =flash[:error]